<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="queryStudent">
    <!--查询-->
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="查询条件">
            <el-select v-model="text" filterable placeholder="请选择" @change="select">
                <el-option
                        v-for="item in selectMenu"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="条件">
            <el-input v-model="input" placeholder="请输入值"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--显示学生信息-->
    <el-table
            :data="tableData"
            style="width: 100%"
            height="500"
            :row-class-name="tableRowClassName"
            border>
        <el-table-column
                prop="sid"
                label="学号">
        </el-table-column>
        <el-table-column
                prop="sname"
                label="姓名">
        </el-table-column>
        <el-table-column
                prop="sidcard"
                label="身份证">
        </el-table-column>
        <el-table-column
                prop="ssex"
                label="性别">
        </el-table-column>
        <el-table-column
                prop="spassword"
                label="密码">
        </el-table-column>
        <el-table-column
                prop="sage"
                label="年龄">
        </el-table-column>
        <el-table-column
                align="center"
                label="操作"
                width="260">
            <template slot-scope="scope">
                <el-button type="text" @click="seeDetail(scope.row)">查看详情</el-button>
                <el-button @click="updateStudent(scope.row)" type="primary" size="small">修改</el-button>
                <el-button @click="deleteStudent(scope.row)" type="danger" size="small">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--查看详情-->
    <el-dialog
            title="查看详情"
            :visible.sync="dialogVisible"
            width="80%">
        <el-descriptions direction="vertical" :column="3" border>
            <el-descriptions-item label="学号">{{ruleForm.sid}}</el-descriptions-item>
            <el-descriptions-item label="姓名">{{ruleForm.sname}}</el-descriptions-item>
            <el-descriptions-item label="身份证">{{ruleForm.sidcard}}</el-descriptions-item>
            <el-descriptions-item label="性别">{{ruleForm.ssex}}</el-descriptions-item>
            <el-descriptions-item label="密码">{{ruleForm.spassword}}</el-descriptions-item>
            <el-descriptions-item label="年龄">{{ruleForm.sage}}</el-descriptions-item>
            <el-descriptions-item label="学科部">{{ruleForm.college}}</el-descriptions-item>
            <el-descriptions-item label="专业">{{ruleForm.major}}</el-descriptions-item>
            <el-descriptions-item label="班级">{{ruleForm.classes}}</el-descriptions-item>
        </el-descriptions>
    </el-dialog>
    <!--修改弹窗-->
    <el-dialog
            title="修改学生"
            :visible.sync="centerDialogVisible"
            :before-close="handleClose"
            center>
        <el-form :model="ruleForm" :rules="formRules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="姓名" prop="sname" show-message>
                <el-input v-model="ruleForm.sname"></el-input>
            </el-form-item>
            <el-form-item label="身份证" prop="sidcard" show-message>
                <el-input v-model="ruleForm.sidcard"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="ssex" show-message>
                <el-radio-group v-model="ruleForm.ssex">
                    <el-radio label="男"></el-radio>
                    <el-radio label="女"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="密码" prop="spassword" show-message>
                <el-input v-model="ruleForm.spassword"></el-input>
            </el-form-item>
            <el-form-item label="年龄" prop="sage" show-message>
                <el-input v-model.number="ruleForm.sage"></el-input>
            </el-form-item>
            <el-form-item label="学科部" prop="college">
                <el-cascader
                        v-model="ruleForm.college"
                        :options="collegeOptions"
                        :props="{ value: 'id', label: 'college' }"
                        @change="handleCollegeChange"></el-cascader>
                {{collegeName}}
            </el-form-item>
            <el-form-item label="专业" prop="major">
                <el-cascader
                        v-model="ruleForm.major"
                        :options="majorOptions"
                        :props="{ value: 'id', label: 'major' }"
                        @change="handleMajorChange"></el-cascader>
                {{majorName}}
            </el-form-item>
            <el-form-item label="班级" prop="classes">
                <el-cascader
                        v-model="ruleForm.classes"
                        :options="classesOptions"
                        :props="{ value: 'id', label: 'classes' }"></el-cascader>
                {{classesName}}
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">确认修改</el-button>
                <el-button @click="resetForm">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/lib/index.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#queryStudent',
        data() {
            return {
                selectMenu: [{
                    value: '1',
                    label: '全部学生'
                }, {
                    value: '2',
                    label: '按学号查询'
                }, {
                    value: '3',
                    label: '按学科部查询'
                }, {
                    value: '4',
                    label: '按专业查询'
                }, {
                    value: '5',
                    label: '按班级查询'
                }],
                //学生数据
                tableData: [],
                //当前页
                currentPage: 1,
                //分页数据大小
                pageSize: 5,
                //数据总数
                totalCount: 0,
                dialogVisible: false,
                centerDialogVisible: false,
                //选择框的值
                text: '',
                //查询条件选择
                item: {
                    value: ''
                },
                //查询输入值
                input: '',
                //点击修改后获取的学生信息
                ruleForm: {
                    sid: '',
                    sname: '',
                    sidcard: '',
                    ssex: '',
                    spassword: '',
                    sage: '',
                    collegeId: '',
                    college: '',
                    majorId: '',
                    major: '',
                    classesId: '',
                    classes: '',
                },
                collegeName: '',
                majorName: '',
                classesName: '',
                collegeOptions: [],
                majorOptions: [],
                classesOptions: [],
                formRules: {
                    sname: [
                        {required: true, message: '请输入姓名', trigger: 'blur'},
                        {pattern: /^[\u4e00-\u9fa5]+$/, message: '姓名只能包含中文字符', trigger: 'blur'},
                        {min: 2, max: 10, message: '姓名长度在2到10个字符之间', trigger: 'blur'}
                    ],
                    sidcard: [
                        {required: true, message: '请输入身份证号', trigger: 'blur'},
                        {pattern: /^[0-9]{17}[0-9xX]$/, message: '请输入正确的身份证号', trigger: 'blur'}
                    ],
                    ssex: [
                        {required: true, message: '请选择性别', trigger: 'change'}
                    ],
                    spassword: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 6, max: 20, message: '密码长度在6到20个字符之间', trigger: 'blur'}
                    ],
                    sage: [
                        {required: true, message: '请输入年龄', trigger: 'blur'},
                        {type: 'number', message: '年龄必须为数字', trigger: 'blur'},
                        {validator: this.validateAge, trigger: 'blur'}
                    ],
                    college: [
                        {required: true, message: '请选择学科部', trigger: 'change'}
                    ],
                    major: [
                        {required: true, message: '请选择专业', trigger: 'change'}
                    ],
                    classes: [
                        {required: true, message: '请选择班级', trigger: 'change'}
                    ]
                }
            }
        },
        mounted() {
            this.item.value = '1';
            this.selectAll();
        },
        methods: {
            //设置查询条件
            select(value) {
                this.item = this.selectMenu.find((item) => {
                    return item.value === value;
                });
                this.input = '';
            },
            //查询所有
            selectAll() {
                const formData = new FormData();
                formData.append('currentPage', this.currentPage);
                formData.append('pageSize', this.pageSize);
                formData.append('choice', this.item.value);
                formData.append('condition', this.input);
                axios.post("/adminController/queryStudent", formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(response => {
                    //获得记录
                    this.tableData = response.data.rows;
                    //设置总记录数
                    this.totalCount = response.data.totalCount;
                })
            },
            //查看详情
            seeDetail(row) {
                this.ruleForm = row;
                this.dialogVisible = true;
            },
            //点击修改按钮
            updateStudent(row) {
                this.ruleForm = Object.assign({}, row);
                this.collegeName = row.college;
                this.majorName = row.major;
                this.classesName = row.classes;
                this.centerDialogVisible = true;
                this.getCollegeOption();
            },
            //点击删除按钮
            deleteStudent(row) {
                this.$confirm('此操作将永久删除该学生, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/adminController/deleteStudent/" + row.sid).then(() => {
                        this.$message.success("删除成功");
                        this.selectAll();
                    })
                }).catch(() => {
                    this.$message.info("已取消删除");
                });
            },
            //关闭修改弹窗事件
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            //提交修改数据
            submitForm() {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        let data;
                        let formName = this.ruleForm;
                        if (typeof formName.college[0] === 'string') {
                            data = {
                                sid: formName.sid,
                                sname: formName.sname,
                                sidcard: formName.sidcard,
                                ssex: formName.ssex,
                                spassword: formName.spassword,
                                sage: formName.sage,
                                collegeId: formName.collegeId,
                                majorId: formName.majorId,
                                classesId: formName.classesId
                            };
                        } else {
                            data = {
                                sid: formName.sid,
                                sname: formName.sname,
                                sidcard: formName.sidcard,
                                ssex: formName.ssex,
                                spassword: formName.spassword,
                                sage: formName.sage,
                                collegeId: formName.college[0],
                                majorId: formName.major[0],
                                classesId: formName.classes[0]
                            };
                        }
                        console.log(data);
                        axios.post("/adminController/updateStudent", data).then(() => {
                            this.centerDialogVisible = false;
                            this.$message.success("修改成功！");
                            this.selectAll();
                        });
                    } else {
                        console.log('修改错误');
                        return false;
                    }
                })
            },
            //获取学科部
            getCollegeOption() {
                axios.get('/adminController/queryStudentCollege').then(response => {
                    this.collegeOptions = response.data;
                })
            },
            //获取各学科部对应的专业
            getMajorOption(collegeId) {
                axios.get('/adminController/queryStudentMajor/' + collegeId).then(response => {
                    this.majorOptions = response.data;
                })
            },
            //获取各专业对应的班级
            getClassesOption(majorId) {
                axios.get('/adminController/queryStudentClasses/' + majorId).then(response => {
                    this.classesOptions = response.data;
                })
            },
            //学科部改变
            handleCollegeChange(value) {
                this.getMajorOption(value[value.length - 1]);
                this.ruleForm.major = [];
                this.ruleForm.classes = [];
            },
            //专业改变
            handleMajorChange(value) {
                this.getClassesOption(value[value.length - 1]);
                this.ruleForm.classes = [];
            },
            //年龄验证
            validateAge(rule, value, callback) {
                if (value >= 1 && value <= 100) {
                    callback()
                } else {
                    callback(new Error('年龄必须在 1~100 之间'))
                }
            },
            //重置修改表单里的内容
            resetForm() {
                this.$refs.ruleForm.resetFields();
            },
            //查询按钮事件
            onSubmit() {
                this.currentPage = 1;
                this.selectAll();
            },
            //修改表格颜色
            tableRowClassName({rowIndex}) {
                if (rowIndex === 1 || rowIndex === 5 || rowIndex === 9) {
                    return 'warning-row';
                } else if (rowIndex === 3 || rowIndex === 7) {
                    return 'success-row';
                }
                return '';
            },
            //修改显示数据大小
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectAll();
            },
            //修改当前页
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectAll()
            }
        }
    })
</script>
</body>
</html>