<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="addCoursePlan">
    <!--查询-->
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="查询条件">
            <el-select v-model="text" filterable placeholder="请选择" @change="select">
                <el-option
                        v-for="item in selectMenu"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="条件">
            <el-input v-model="input" placeholder="请输入值"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--显示学生信息-->
    <el-table
            :data="tableData"
            style="width: 100%"
            height="500"
            :row-class-name="tableRowClassName"
            border>
        <el-table-column
                prop="cid"
                label="课程号">
        </el-table-column>
        <el-table-column
                prop="cname"
                label="课程名">
        </el-table-column>
        <el-table-column
                prop="type"
                label="类型">
        </el-table-column>
        <el-table-column
                prop="college"
                label="所属学科部">
        </el-table-column>
        <el-table-column
                prop="major"
                label="所属专业">
        </el-table-column>
        <el-table-column
                align="center"
                label="操作"
                width="260">
            <template slot-scope="scope">
                <el-button type="text" @click="seeDetail(scope.row)">查看详情</el-button>
                <el-button @click="addCoursePlan(scope.row)" type="primary" size="small">选择</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--查看详情-->
    <el-dialog
            title="查看详情"
            :visible.sync="dialogVisible"
            width="80%">
        <el-descriptions direction="vertical" :column="3" border>
            <el-descriptions-item label="课程号">{{Form.cid}}</el-descriptions-item>
            <el-descriptions-item label="课程名">{{Form.cname}}</el-descriptions-item>
            <el-descriptions-item label="课程简介">{{Form.cintroduction}}</el-descriptions-item>
            <el-descriptions-item label="类型">{{Form.type}}</el-descriptions-item>
            <el-descriptions-item label="所属学院">{{Form.college}}</el-descriptions-item>
            <el-descriptions-item label="所属专业">{{Form.major}}</el-descriptions-item>
        </el-descriptions>
    </el-dialog>
    <!--选择弹窗-->

    <el-dialog
            title="新建课程"
            :visible.sync="centerDialogVisible"
            :before-close="handleClose"
            center>
        <el-form :model="ruleForm" :rules="formRules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="上课周" prop="courseweek" show-message>
                <el-select v-model="ruleForm.courseweek" multiple placeholder="请选择">
                    <el-option
                            v-for="item in option1"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="上课时间" prop="coursetime" show-message>
                <el-select v-model="ruleForm.coursetime" multiple placeholder="请选择">
                    <el-option
                            v-for="item in option2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="课程编号" prop="cid" show-message>
                <el-input v-model="ruleForm.cid" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="教师编号" prop="tid" show-message>
                <el-input v-model="ruleForm.tid" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="上课教室" prop="classroom" show-message>
                <el-input v-model="ruleForm.classroom"></el-input>
            </el-form-item>
            <el-form-item label="学分" prop="credits" show-message>
                <el-input v-model.number="ruleForm.credits"></el-input>
            </el-form-item>
            <el-form-item label="学时" prop="period" show-message>
                <el-input v-model.number="ruleForm.period"></el-input>
            </el-form-item>
            <el-form-item label="总人数" prop="totalNum" show-message>
                <el-input v-model.number="ruleForm.totalNum"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">添加</el-button>
                <el-button @click="resetForm">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/lib/index.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#addCoursePlan',
        data() {
            return {
                //老师信息
                userInfo: '',
                selectMenu: [{
                    value: '1',
                    label: '全部课程'
                }, {
                    value: '2',
                    label: '按课程编号查询'
                }, {
                    value: '3',
                    label: '按课程名查询'
                }, {
                    value: '4',
                    label: '按课程类型查询'
                }, {
                    value: '5',
                    label: '按所属学科部查询'
                }],
                option1: [{
                    value: '1',
                    label: '星期一'
                }, {
                    value: '2',
                    label: '星期二'
                }, {
                    value: '3',
                    label: '星期三'
                }, {
                    value: '4',
                    label: '星期四'
                }, {
                    value: '5',
                    label: '星期五'
                }, {
                    value: '6',
                    label: '星期六'
                }, {
                    value: '7',
                    label: '星期日'
                }],
                option2: [{
                    value: '12',
                    label: '第一二节'
                }, {
                    value: '34',
                    label: '第三四节'
                }, {
                    value: '56',
                    label: '第五六节'
                }, {
                    value: '78',
                    label: '第七八节'
                }],
                //课程数据
                tableData: [],
                //当前页
                currentPage: 1,
                //分页数据大小
                pageSize: 5,
                //数据总数
                totalCount: 0,
                dialogVisible: false,
                centerDialogVisible: false,
                //选择框的值
                text: '',
                //查询条件选择
                item: {
                    value: ''
                },
                //查询输入值
                input: '',
                //查看详请
                Form: {
                    cid: '',
                    cname: '',
                    cintroduction: '',
                    type: '',
                    collegeId: '',
                    college: '',
                    majorId: '',
                    major: ''
                },
                //点击选择后输入的信息
                ruleForm: {
                    courseweek: [],
                    coursetime: [],
                    cid: '',
                    tid: '',
                    classroom: '',
                    credits: '',
                    period: '',
                    totalNum: ''
                },
                collegeName: '',
                majorName: '',
                collegeOptions: [],
                majorOptions: [],
                formRules: {
                    coursetime: [
                        {required: true, message: '请选择上课时间', trigger: 'blur'}
                    ],
                    courseweek: [
                        {required: true, message: '请选择上课周次', trigger: 'blur'}
                    ],
                    classroom: [
                        {required: true, message: '请输入教室号', trigger: 'blur'}
                    ],
                    credits: [
                        {required: true, message: '请输入学分', trigger: 'blur'},
                        {type: 'number', message: '学分必须为数字', trigger: 'blur'}
                    ],
                    period: [
                        {required: true, message: '请输入学时', trigger: 'blur'},
                        {type: 'number', message: '学时必须为数字', trigger: 'blur'}
                    ],
                    totalNum: [
                        {required: true, message: '请输入总人数', trigger: 'blur'},
                        {type: 'number', message: '总人数必须为数字', trigger: 'blur'}
                    ]
                }
            }
        },
        mounted() {
            this.item.value = '1';
            this.selectAll();
        },
        created() {
            const userInfo = window.localStorage.getItem('userInfo');
            if (userInfo) {
                this.userInfo = JSON.parse(userInfo);
            }
        },
        methods: {
            //设置查询条件
            select(value) {
                this.item = this.selectMenu.find((item) => {
                    return item.value === value;
                });
                this.input = '';
            },
            //查询所有
            selectAll() {
                const formData = new FormData();
                formData.append('currentPage', this.currentPage);
                formData.append('pageSize', this.pageSize);
                formData.append('choice', this.item.value);
                formData.append('condition', this.input);
                axios.post("/adminController/queryCourse", formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(response => {
                    //获得记录
                    this.tableData = response.data.rows;
                    //设置总记录数
                    this.totalCount = response.data.totalCount;
                })
            },
            //查看详情
            seeDetail(row) {
                this.Form = row;
                this.dialogVisible = true;
            },
            //点击选择按钮
            addCoursePlan(row) {
                this.ruleForm.tid = this.userInfo.tid;
                this.ruleForm.cid = row.cid;
                this.centerDialogVisible = true;
            },
            //关闭修改弹窗事件
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            //提交课程安排数据
            submitForm() {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        let formName = this.ruleForm;
                        const data = new FormData();
                        data.append('courseweek', formName.courseweek.join(","));
                        data.append('coursetime', formName.coursetime.join(","));
                        data.append('cid', formName.cid);
                        data.append('tid', formName.tid);
                        data.append('classroom', formName.classroom);
                        data.append('credits', formName.credits);
                        data.append('period', formName.period);
                        data.append('totalNum', formName.totalNum);
                        axios.post("/teacherController/addCoursePlan", data, {
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        }).then(response => {
                            if (response.data.code === 1) {
                                this.centerDialogVisible = false;
                                this.$message.success("课程安排成功！");
                                this.selectAll();
                            } else if (response.data.code === 0) {
                                this.$message.error(response.data.msg);
                            }
                        });
                    } else {
                        console.log('添加错误');
                        return false;
                    }
                })
            },
            //重置表单里的内容
            resetForm() {
                this.$refs.ruleForm.resetFields();
            },
            //查询按钮事件
            onSubmit() {
                this.currentPage = 1;
                this.selectAll();
            },
            //修改表格颜色
            tableRowClassName({rowIndex}) {
                if (rowIndex === 1 || rowIndex === 5 || rowIndex === 9) {
                    return 'warning-row';
                } else if (rowIndex === 3 || rowIndex === 7) {
                    return 'success-row';
                }
                return '';
            },
            //修改显示数据大小
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectAll();
            },
            //修改当前页
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectAll()
            }
        }
    })
</script>
</body>
</html>